<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Chess.com 경기 가져오기 + 광고 수신에 사용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 광고 식별자(AdMob). 광고를 넣으면 Play 정책상 이 권한을 선언해야 한다 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="false"
        android:theme="@style/AppTheme">

        <!-- AdMob 앱 ID. 실제 값은 res/values/admob.xml 에서 바꾼다.
             이 값이 없거나 형식이 틀리면 앱이 시작과 동시에 죽는다. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <!-- 광고 SDK 초기화·로딩을 첫 화면 표시와 겹치지 않게 해 시작을 빠르게 -->
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|smallestScreenSize|density"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 체스닷컴·Chessis 등에서 PGN을 "공유"하면 이 앱이 목록에 뜬다 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- .pgn 파일 열기 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="application/x-chess-pgn" />
                <data android:scheme="content" android:mimeType="application/vnd.chess-pgn" />
                <data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.pgn" />
            </intent-filter>
        </activity>
    </application>
</manifest>
